<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="with=device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300&display=swap" rel="stylesheet">

    {% if title %}
        <title>Feuerwehr Sontheim - {{ title }}</title>
    {% else %}
        <title>Feuerwehr Sontheim</title>
    {% endif %}
</head>

<!----------------------------------------------------------------------------------------------------------------------------------->

<body>

    <section class="header img_side_to_side"  style="background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('{{ url_for('static', filename=img_var_path) }}')">

        <!-- nav -->
        <div class="grid-container-nav">
            <div class="grid-item item1">
                <a href="layout.html"><img class="resize" alt="Feuerwehr Logo" src="{{url_for('static',filename='styles/pictures/FW_Aktualisierung_Neu.png') }}"> </a>
            </div>
            <div class="nav-links grid-item-nav item2">
                <ul id="menu">
                    <li><a href="">Home</a></li>
                    <li><a href="">Einsätze</a></li>
                    <li><a href="">Galerie</a></li>
                    <li><a href="">Downloads</a></li>
                    <li><a href="">Impressum</a></li>
                </ul>
            </div>

        </div>

        <!-- -->

        {% block content %}
        {% endblock %}

    </section>

    <!-- -->

    {% block further %}
    {% endblock %}
    <h1>UwU</h1>
      <p id="demo">0</p>
      <button type="button" onmouseover="myFunction()" onclick="myFunction()">Count!</button>
      <p>Resize the browser window to fire the <code>resize</code> event.</p>
      <p>Window height: <span id="height"></span></p>
      <p>Window width: <span id="width"></span></p>
    <script src='{{url_for('static',filename='js/scripts.js')}}'></script>
</body>
</html>