<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="with=device-width, initial-scale = 1.0">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/page_style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300&display=swap" rel="stylesheet">

    {% if title %}
        <title>Feuerwehr Sontheim - {{ title }}</title>
    {% else %}
        <title>Feuerwehr Sontheim</title>
    {% endif %}
</head>

<!----------------------------------------------------------------------------------------------------------------------------------->

<body onresize="checkWindowSize()">
<!-- display nav -->
        <div class="nav-grid-wrapper">
            <div class="item1" id="picture_nav_bar">
                <a href="layout.html">
                    <img class="resize" alt="Feuerwehr Logo" src="{{url_for('static',filename='styles/pictures/FW_Aktualisierung_Neu.png') }}">
                </a>
            </div>
            <div class="nav-links item2">
                <ul id="text_nav_bar">
                    <li>
                        <a href={{ url_for('index_page') }}>Home</a>
                    </li>
                    <li>
                        <a href={{ url_for('choose_emergency_operation') }}>Einsätze</a>
                    </li>
                    <li>
                        <a href={{ url_for('gallery_page') }}>Galerie</a>
                    </li>
                    <li>
                        <a href={{ url_for('gallery_page') }}>Downloads</a>
                    </li>
                    <li>
                        <a href={{ url_for('gallery_page') }}>Impressum</a>
                    </li>
                </ul>

                <!-- Mobile Menu -->

                <ul id="icon_nav_bar" class="hidden_element">
                    <li>
                        <img class="resize_nav_items" id="icon_nav_bar" src="{{url_for('static',filename='styles/icons/home.svg') }}">
                    </li>
                    <li>
                        <img class="resize_nav_items" id="icon_nav_bar" src="{{url_for('static',filename='styles/icons/emergency.svg') }}">
                    </li>
                    <li>
                        <img class="resize_nav_items" id="icon_nav_bar" src="{{url_for('static',filename='styles/icons/photo_library.svg') }}">
                    </li>
                    <li>
                        <img class="resize_nav_items" id="icon_nav_bar" src="{{url_for('static',filename='styles/icons/photo_library.svg') }}">
                    </li>
                    <li>
                        <img class="resize_nav_items" id="icon_nav_bar" src="{{url_for('static',filename='styles/icons/info.svg') }}">
                    </li>
                </ul>
            </div>
            <!-- display login items -->
            <div class="item3 login_icons">
                <a href={{ url_for('login_page') }}>
                    <img class="login_icon_element resize_nav_items" alt="Feuerwehr Logo" src="{{url_for('static',filename='styles/icons/login_white_24dp.svg') }}">
                </a>
                <a href={{ url_for('registration_page') }}>
                    <img class="login_icon_element resize_nav_items" alt="Feuerwehr Logo" src="{{url_for('static',filename='styles/icons/account_circle_white_24dp.svg') }}">
                </a>
            </div>
        </div>

    <!-- content -->

    {% block content %}
    {% endblock %}


    <!-- -->

    {% block scripts %}
    {% endblock %}



    <!-- flash messages here -->

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert" id="hideMe">
            {% for category, message in messages %}
                <div class=" alert_{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}






    <!--<script src='{{url_for('static',filename='js/scripts.js')}}'></script>-->
    <script src='{{url_for('static',filename='js/mobile_webpage.js')}}'></script>
</body>
</html>