{% extends "base_layout.html" %}

<!-------------------------- Reference Side specific CSS here -------------------------->

{% block specific_stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/emergency_selection_page.css') }}">
{% endblock %}

<!-------------------------- actual Site Content ----------------------------->

{% block content %}

<section class="content-section img_side_to_side content_with_img" style="background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('{{ url_for('static', filename=img_var_path) }}')">
    <br>
    <div class="em_selection_grid_wrapper">
        {% for emergency in emergencies %}
        <div class="em_selection_grid_child">
            <a href="{{ url_for('emergency_report', _param=emergency) }}">
                <h1>{{emergency}}</h1>
            </a>
        </div>
        {% endfor %}
    </div>

</section>
{% endblock %}

<!-------------------------- Room for page-individual JS Scripts -------------------------->

{% block scripts %}

{% endblock %}