{% extends "base_layout.html" %}

<!-------------------------- Reference Side specific CSS here -------------------------->
{% block specific_stylesheet %}

{% endblock %}

<!-------------------------- actual Site Content ----------------------------->
{% block content%}
<section class="content-section img_side_to_side content_with_img" style="background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('{{ url_for('static', filename=img_var_path) }}')">
    <div class="text-box-emergency">
        {{ emergency_content | safe }}
    </div>
</section>


{% endblock content %}

<!-------------------------- Room for page-individual JS Scripts -------------------------->

{% block scripts %}

{% endblock %}
