{% extends "base_layout.html" %}

<!-------------------------- Reference Side specific CSS here -------------------------->
{% block specific_stylesheet %}

{% endblock %}

<!-------------------------- actual Site Content ----------------------------->
{% block content%}
<section class="content-section img_side_to_side content_with_img" style="background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('{{ url_for('static', filename=img_var_path) }}')">
    <div class="text-box">
        <h1> Feuerwehr Sontheim </h1>
        <p>Wir sind mit <b>2</b> Abteilungen und über <b>60</b> Kameraden immer bereit, Ihnen, in jeder Notlage zur Seite zu stehen.
            Seit 1931 besteht unsere <b>FREIWILLIGE</b> Feuerwehr – und seither ist unsere Organisation immer weiter gewachsen.
            Egal ob Brandeinsatz, Verkehrsunfall oder andere technische Hilfeleistungseinsätze – wir sind mit unserer modernen Ausstattung, die auf inzwischen 7 Fahrzeugen verteilt ist, für alle Eventualitäten gewappnet.
        </p>
    </div>
</section>

<section class="content-section content_no_img">
    <div class="text-box">
        <h1> Förderverein </h1>
        <p>
            Auch eine Feuerwehr benötigt hin und wieder Unterstützung. Unser Förderverein finanziert für uns kleinere Anschaffungen, die nicht zur Standardausstattung eines Löschfahrzeugs gehören, wie Rauchvorhänge, zusätzliche Lüfter und neue Rollcontainer für unsere Gerätewagen.
            Aber auch an Festen erhalten wir vor allem personelle Hilfe, um Ihr Erlebnis so angenehm wie möglich gestalten zu können.
            Werden auch sie noch heute Mitglied und Helfen sie IHRER Feuerwehr

        </p>
    </div>
</section>



<section class= "content-section img_side_to_side content_with_img" style="background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('{{ url_for('static', filename=img_var_path) }}')">
    <div class="text-box">
        <p>
            Test
        </p>
    </div>
</section>

{% endblock content %}

<!-------------------------- Room for page-individual JS Scripts -------------------------->

{% block scripts %}

{% endblock %}
