{% extends "base_layout.html" %}

<!-------------------------- Reference Side specific CSS here -------------------------->
{% block specific_stylesheet %}

{% endblock %}

<!-------------------------- actual Site Content ----------------------------->
{% block content%}
<section class="content-section img_side_to_side content_with_img" style="background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('{{ url_for('static', filename=img_var_path) }}')">
    <div class="text-box">
        <h1> Feuerwehr Sontheim </h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt <br> ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. <br>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        </p>
    </div>
</section>

<section class="content-section content_no_img">
    <div class="text-box">
        <h1> Förderverein </h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt <br> ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. <br>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        </p>
    </div>
</section>



<section class= "content-section img_side_to_side content_with_img" style="background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('{{ url_for('static', filename=img_var_path) }}')">
    <div class="text-box">
        <p>
            Test
        </p>
    </div>
</section>

{% endblock content %}

<!-------------------------- Room for page-individual JS Scripts -------------------------->

{% block scripts %}

{% endblock %}
