{% extends "base_layout.html" %}

{% block content %}



<div class="login_wrapper">
    <form method="post">

        {{ login_form.user_email(class_='login_element login_text_box form-control', placeholder="Email") }}
        <br>
        {{ login_form.password(class_='login_element login_text_box form-control', placeholder="Passwort") }}
        <br>
        {{ login_form.stay_logged_in(class_='login_element login_select_box form-control', placeholder="login") }}
        {{ login_form.stay_logged_in.label(class_='login_text form-control') }}
        <br>
        {{ login_form.csrf_token }}
        {{ login_form.submit_button(class_='login_submit_button login_element') }}

    </form>


</div>

{% endblock %}


{% block further %}
{% endblock %}