{% extends "base_layout.html" %}

{% block content %}
<div class="login_wrapper">
    <form>

        {{ login_form.user_email(class_='login_element login_text_box', placeholder="Email") }}
        <br>
        {{ login_form.password(class_='login_element login_text_box', placeholder="Passwort") }}
        <br>
        {{ login_form.stay_logged_in(class_='login_element login_select_box', placeholder="login") }}
        {{ login_form.stay_logged_in.label(class_='login_text') }}
        <br>
        {{ login_form.submit_button(class_='login_element login_submit_button') }}
    </form>
</div>
{% endblock %}


{% block further %}
{% endblock %}