<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dropdown Menu using HTML CSS and Javascript</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/drop_down.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">

</head>
<body style="background-color: #272727">

<div class="wrapper">
	<div class="navbar">
		<ul>
			<li><a href="#" class="a_parent">
				<div class="wrap">

					<span class="text">Home</span>
				</div>
			</a></li>
			<li><a href="#" class="a_parent">
				<div class="wrap">

					<span class="text">Sports</span>
				</div>
				</a>
				<div class="dd_menu">
					<ul>
						<li>
							<a href="#" class="dd_menu_a">
								<div class="wrap">
									<span class="text">
									Running
									</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#"  class="dd_menu_a">
								<div class="wrap">
									<span class="text">Biking</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#"  class="dd_menu_a">
								<div class="wrap">

								<span class="text">Football</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#"  class="dd_menu_a">
								<div class="wrap">
								<span class="text">Swimmer</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li><a href="#" class="a_parent">
				<div class="wrap">
					<span class="text">Food</span>
				</div>
				</a>
				<div class="dd_menu">
					<ul>
						<li>
							<a href="#" class="dd_menu_a">
								<div class="wrap">

									<span class="text">
									Running
									</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="dd_menu_a">
								<div class="wrap">

									<span class="text">Biking</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="dd_menu_a">
								<div class="wrap">

								<span class="text">Football</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="dd_menu_a">
								<div class="wrap">
								    <span class="text">Swimmer</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li><a href="#" class="a_parent">
				<div class="wrap">

					<span class="text">Items</span>
				</div>
			</a></li>
			<li><a href="#" class="a_parent">
				<div class="wrap">

					<span class="text">Settings</span>
				</div>
			</a></li>
			</ul>
	</div>
</div>

<canvas class="canvas_class"></canvas>

<input id="clickMe" type="button" value="clickme" onclick="wikiCall();" />

<script src={{url_for('static',filename='js/drop_down.js')}}></script>
<script src={{url_for('static',filename='js/task2.js')}}></script>
</body>
</html>