{% extends "base_layout.html" %}

<!-------------------------- Reference Side specific CSS here -------------------------->

{% block specific_stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/search_page.css') }}">
{% endblock %}

<!-------------------------- actual Site Content ----------------------------->

{% block content %}
<section class="content-section img_side_to_side content_with_img" style="background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('{{ url_for('static', filename=img_var_path) }}')">
    <div class="search_bar_wrapper first-content-section">
        <input class="search_bar" id="searchBar" type="text" placeholder="Suchbegriff eingeben">
        <img class="login_icon_element search_button" onclick="wikiFetch()" alt="Feuerwehr Logo" src="{{url_for('static',filename='styles/icons/search_white_24dp.svg') }}">
    </div>

    <div class="subsection" id="section_for_result">

    </div>
</section>
{% endblock %}


{% block further %}

{% endblock %}


<!-------------------------- Room for page-individual JS Scripts -------------------------->

{% block scripts %}
        <script src={{url_for('static',filename='js/task2.js')}}></script>
{% endblock %}