{% extends "base_layout.html" %}

{% block content %}

    <div class="search_bar_wrapper">
        <input class="search_bar" id="searchBar" type="text" placeholder="Suchbegriff eingeben">
        <img class="login_icon_element search_button" onclick="wikiFetch()" alt="Feuerwehr Logo" src="{{url_for('static',filename='styles/icons/search_white_24dp.svg') }}">
    </div>

{% endblock %}


{% block further %}
    <section id="section_for_result"></section>
{% endblock %}

{% block scripts %}
        <script src={{url_for('static',filename='js/task2.js')}}></script>
{% endblock %}