@import "values";

.content-section {
    display: inline-grid;
    background-color: $textcolor-alert;
    align-content: center;
    text-align: center;
    color: $textcolor-darkmode;

}

.content_with_img{
    min-height: 100vh;
}

.content_no_img{
    width: 100%;
}

.text-box{
    margin: 20vh 5vw 20vh 5vw;
}

.text-box h1{
    font-size: 3rem;
}

.text-box p{
    font-size: 1.6rem;
    line-height: 140%;
}

.text-box b{
    font-weight: 600;
    font-size: 1.8rem;
}

@media ( max-device-width: 1000px ){

    /*------------------ Mobile Portrait CSS ---------------------*/
    @media (orientation: portrait){

    }

    /*------------------ Mobile Landscape CSS ---------------------*/
    @media (orientation: landscape) {

    }

    .content-section{
        align-content: unset;
    }
}