@charset "UTF-8";
/*------------------ General CSS ---------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.img_side_to_side:not(img, div, p, li, ul, a) {
  width: 100%;
  background-position: center;
  background-color: #272727;
  background-size: cover;
  z-index: -1;
}

.content-section {
  display: inline-grid;
  min-height: 100vh;
  background-color: #272727;
  align-content: center;
  text-align: center;
  color: white;
}

.first-content-section {
  margin-top: 10vh;
}

#icon_nav_bar {
  color: white;
}

.hidden_element {
  display: none;
}

/*------------------ Alert ---------------------*/
.alert_success {
  background-color: #adff2f;
  border-radius: 1vh;
  color: #272727;
  padding: 1vh;
}

.alert_failure {
  background-color: #ff4a4a;
  border-radius: 1vh;
  color: #272727;
  padding: 1vh;
}

/*------------------------- hide alert after 5 sec ---------------------------------------*/
#hideMe {
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
/*-------------------- search Page -------------------------*/
.search_bar_wrapper {
  margin: auto;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(135deg, #1C6EA4 0%, #072341 100%);
}

.search_bar {
  border-width: 0;
  background-color: #272727;
  color: white;
  border-radius: 20px;
  margin-left: 20px;
  padding: 10px;
  width: 25vw;
}

.search_result_grid_wrapper {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(135deg, #1C6EA4 0%, #072341 100%);
  padding: 2vh;
  border-radius: 3vh;
}

.search_result_grid_child {
  border-radius: 1vh;
  margin: 1vh;
  color: white;
  text-align: center;
  padding: 1vh;
}

.subsection {
  margin-top: 5vh;
}

/*-------------------- New Nav --------------------*/
.nav-grid-wrapper {
  display: inline grid;
  align-items: center;
  width: 100%;
  position: fixed;
  /*background: linear-gradient(135deg, $gradient-lightblue 0%, $gradient-reallydarkblue 50%);*/
  background: linear-gradient(rgba(7, 35, 65, 0.9), rgba(7, 35, 65, 0.9), rgba(28, 110, 164, 0));
  white-space: nowrap;
}

/*-------------------- Nav Grid -------------------------*/
/* nicht mehr verwendet*/
.grid-container-nav {
  display: inline-grid;
  align-items: center;
  width: 100%;
  grid-template-columns: [item1] 30vw [item2] 70vw [item3] 30vw;
  position: fixed;
}

.grid-container-nav a {
  position: absolute;
}

.item1 {
  grid-column: 1;
  width: fit-content;
}

.item2 {
  grid-column: 2;
  width: available;
}

.item3 {
  grid-column: 3;
  width: fit-content;
}

.gallery_item {
  width: max(400px, 28%);
  height: auto;
  padding: 4vh;
  flex: 1;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: center;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 2vw;
  position: static;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 2vw;
}

/*------------------ emergency Selection ------------------*/
.em_selection_grid_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.em_selection_grid_child {
  white-space: nowrap;
  flex: 1 1 0px;
  min-width: 150px;
  padding: 2vw;
  margin: 1vw;
  width: fit-content;
  background: linear-gradient(139deg, rgba(7, 35, 65, 0.9), rgba(28, 110, 164, 0.6));
  border-radius: 1vw;
}

/*------------------ resizing the Page Logo ------------------*/
.resize {
  width: 150px;
  height: auto;
}

/*------------------ Login Icons ---------------------*/
.login_icons {
  width: fit-content;
  float: right;
  margin: 20px;
  white-space: nowrap;
}

.login_icon_element {
  height: auto;
  margin: 10px;
}

/* -------------------- login -------------------------- */
.login_wrapper {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-auto-flow: row;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  justify-items: center;
  /*to counter inheritance*/
  text-align: left;
  background: linear-gradient(135deg, #1C6EA4 0%, #072341 100%);
}

.login_element {
  border-width: 0;
  background-color: #272727;
  color: white;
}

.login_text_box {
  border-radius: 7px;
  width: 10rem;
  height: 2rem;
  padding: 10px;
  margin: 10px;
}

.login_select_box {
  border-radius: 20px;
  margin-left: 20px;
}

.login_submit_button {
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.login_text {
  color: white;
}

/*=======================================================================================*/
/*=======================================================================================*/
/*=======================================================================================*/
/*------------------ Wide Screen CSS ---------------------*/
.topmenu li {
  /** Kleiner Viewport: Handy **/
  width: 99%;
  font-size: 0.9rem;
  padding: 5px;
  background-color: khaki;
}

.alert {
  position: fixed;
  bottom: 0;
  right: 0;
  display: grid;
}

/*=======================================================================================*/
/*=======================================================================================*/
/*=======================================================================================*/
/*------------------ Tablet CSS ---------------------*/
@media (max-width: 900px) {
  /** Größerer Viewport: Tablett **/
  .alert {
    right: 50%;
  }
}
/*=======================================================================================*/
/*=======================================================================================*/
/*=======================================================================================*/
/*------------------ Mobile CSS ---------------------*/
@media (max-width: 700px) {
  /** Großer Viewport: Browserfenster **/
  /*------------------ Mobile Portrait CSS ---------------------*/
  /*------------------ Mobile Landscape CSS ---------------------*/
  .nav-grid-wrapper {
    background: linear-gradient(135deg, rgba(28, 110, 164, 0.4), rgba(7, 35, 65, 0.8));
  }

  .item2 {
    grid-column: 1;
  }

  .item3 {
    grid-column: 2;
  }

  .gallery_item {
    width: fit-content;
    height: auto;
    flex: 1;
    align-items: center;
  }

  .resize_nav_items {
    width: 8vw;
    height: auto;
  }

  .alert {
    right: 50%;
  }

  .subsection {
    margin-top: 10vh;
  }
}
/*=======================================================================================*/
/*=======================================================================================*/
/*=======================================================================================*/
.schmutz {
  background-color: #000;
  color: #fff;
  position: absolute;
  right: 50%;
  top: 50%;
  padding: 50px;
  margin: 10px;
}

/*# sourceMappingURL=page_style.css.map */
