$darkblue-background: #001133;

$gradient-lightblue: #1C6EA4;
$gradient-darkblue: #144E75;
$gradient-reallydarkblue: #072341;

$textcolor-darkmode: white;
$textcolor-alert: #272727;


$nav-underline: #ff7f50;

$error-red: #ff4a4a;
$success-green: #adff2f;

/*------------------ General CSS ---------------------*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.img_side_to_side:not(img,div,p,li,ul,a){
    width: 100%;
    background-position: center;
    background-color: $textcolor-alert;
    background-size: cover;
    z-index: -1;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-color: $textcolor-alert;
}

#text_nav_bar{
}

#picture_nav_bar{

}

#icon_nav_bar{
    color: white;
}

.hidden_element{
    display: none;
}

/*------------------ Alert ---------------------*/

.alert_success{
    background-color: $success-green ;
    border-radius: 1vh;
    color: $textcolor-alert ;
    padding: 1vh;
}

.alert_failure{
    background-color: $error-red ;
    border-radius: 1vh;
    color: $textcolor-alert;
    padding: 1vh;
}


/*------------------------- hide alert after 5 sec ---------------------------------------*/

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}




/*-------------------- search Page -------------------------*/

.search_bar_wrapper{

    margin: auto;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(135deg, $gradient-lightblue 0%, $gradient-reallydarkblue 100%);
}

.search_bar{
    border-width: 0;
    background-color: #272727;
    color: $textcolor-darkmode;
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px;
    width: 25vw;
}


.search_result_grid_wrapper{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(135deg, $gradient-lightblue 0%, $gradient-reallydarkblue 100%);
    padding: 2vh;
    border-radius: 3vh;
}

.search_result_grid_child{
    border-radius: 1vh;
    margin: 1vh;
    color: $textcolor-darkmode;
    text-align: center;
    padding: 1vh;
}


/*-------------------- Nav Grid -------------------------*/

.grid-container-nav{
    display: inline-grid;
    align-items: center;
    width: 100%;
    grid-template-columns: [item1] 15vw [item2] 70vw [item3] 15vw;
}


.item1{
    grid-column: 1;
    width: fit-content;
}

.item2{
    grid-column: 2;
    width: available;
}

.item3{
    grid-column: 3;
    width: fit-content;
}


.gallery_item
{
    width: max(400px, 28%);
    height: auto;
    padding: 4vh;
    flex: 1;
    align-items: center;

}

/* resizing the Page Logo */

.resize{
    width: 150px;
    height: auto;
}


/* nav beauty */
.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 50px;
    position: static;
}

.nav-links ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: x-large;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: coral;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    content: '';
    width: 100%;
    height: 4px;
    background: coral;
    display: block;
    margin: auto;
}


/*------------------ Login Icons ---------------------*/

.login_icons{
    width: fit-content;
    float: right;
    margin: 20px;

}

.login_icon_element{
    height: auto;
    margin: 10px;
}

/* -------------------- login -------------------------- */

.login_wrapper{

    display: grid;
    margin: auto;
    grid-auto-flow: row;

    width: fit-content;
    padding: 20px;
    border-radius: 10px;

    justify-items: center;



    background: linear-gradient(135deg, $gradient-lightblue 0%, $gradient-reallydarkblue 100%);

}

.login_element{
    border-width: 0;
    background-color: #272727;
    color: $textcolor-darkmode;
}

.login_text_box{

    border-radius: 7px;

    width: 10rem;
    height: 2rem;
    padding: 10px;
    margin: 10px;
}

.login_select_box{
    border-radius: 20px;
    margin-left: 20px;
}

.login_submit_button{
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.login_text{
    color: $textcolor-darkmode;
}

/*=======================================================================================*/
/*=======================================================================================*/
/*=======================================================================================*/


/*------------------ Wide Screen CSS ---------------------*/

.topmenu li {                 /** Kleiner Viewport: Handy **/
	width: 99%;
	font-size: 0.9rem;
	padding: 5px;
	background-color: khaki;
}



.alert{
     position: fixed;
     bottom: 0;
     right: 0;
     display: grid;
}

/*=======================================================================================*/
/*=======================================================================================*/
/*=======================================================================================*/


/*------------------ Tablet CSS ---------------------*/

@media ( max-width: 900px ) {  /** Größerer Viewport: Tablett **/


  .alert{
     position: fixed;
     bottom: 0;
     right: 50%;
     display: grid;
}
}


/*=======================================================================================*/
/*=======================================================================================*/
/*=======================================================================================*/

/*------------------ Mobile CSS ---------------------*/

@media ( max-width: 700px ) { /** Großer Viewport: Browserfenster **/

  /*------------------ Mobile Portrait CSS ---------------------*/
  @media (orientation: portrait){

  }

  /*------------------ Mobile Landscape CSS ---------------------*/
  @media (orientation: landscape) {

  }

    .grid-container-nav{
        /* Mobile Stuff */

        position: fixed;
        top:0;
        left: 0;
        background: linear-gradient(135deg, $gradient-lightblue 0%, $gradient-reallydarkblue 100%);
        min-width: 370px;
        grid-template-columns: [item1] 70vw [item2] 15vw;
    }

    .item2{
        grid-column: 1;
    }

    .item3{
        grid-column: 2;
    }

    .gallery_item
    {
        width: fit-content;
        height: auto;
        flex: 1;
        align-items: center;

    }

    .resize_nav_items{
        width: 8vw;
        height: auto;
    }

    .alert{
        position: fixed;
         bottom: 0;
         right: 50%;
         display: grid;
    }


    /* nav beauty */
    .nav-links{
        flex: 1;
        text-align: center;
    }

    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 2vw;
        position: static;
    }

    .nav-links ul li a
    {
        color: #fff;
        text-decoration: none;
        font-size: x-large;
    }

    .nav-links ul li::after{
        content: '';
        width: 0%;
        height: 2px;
        background: coral;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    .nav-links ul li:hover::after{
        content: '';
        width: 100%;
        height: 4px;
        background: coral;
        display: block;
        margin: auto;
    }

}

/*=======================================================================================*/
/*=======================================================================================*/
/*=======================================================================================*/






.schmutz {
  background-color:#000;
  color:#fff;
  position: absolute;
  right: 50%;
  top: 50%;
  padding: 50px;
}
