
@import 'color.scss';

/*------------------ General CSS ---------------------*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.img_side_to_side:not(img,div,p,li,ul,a){
    width: 100%;
    background-position: center;
    background-color: $textcolor-alert;
    background-size: cover;
    z-index: -1;
}



.first-content-section{
    margin-top: 10vh;
}


#text_nav_bar{
}

#picture_nav_bar{

}

#icon_nav_bar{
    color: white;
}

.hidden_element{
    display: none;
}






/*------------------ emergency Selection ------------------*/

.em_selection_grid_wrapper{
display: flex;
    flex-wrap: wrap;
}

.em_selection_grid_child{
    white-space: nowrap;
    flex: 1 1 0px;
    min-width: 150px;
    padding: 2vw;
    margin: 1vw;
    width: fit-content;
    background: linear-gradient(139deg,rgba($gradient-reallydarkblue-R,$gradient-reallydarkblue-G,$gradient-reallydarkblue-B,0.9),rgba($gradient-lightblue-R,$gradient-lightblue-G,$gradient-lightblue-B,0.6));
    border-radius: 1vw;

}

/*------------------ resizing the Page Logo ------------------*/

.resize{
    width: 150px;
    height: auto;

}

/*------------------ Login Icons ---------------------*/

.login_icons{
    width: fit-content;
    float: right;
    margin: 20px;
    white-space: nowrap;

}

.login_icon_element{
    height: auto;
    margin: 10px;
}



/*=======================================================================================*/
/*=======================================================================================*/
/*=======================================================================================*/


/*------------------ Wide Screen CSS ---------------------*/

.topmenu li {                 /** Kleiner Viewport: Handy **/
	width: 99%;
	font-size: 0.9rem;
	padding: 5px;
	background-color: khaki;
}



@media (min-device-width: 1001px)
{

}

/*=======================================================================================*/
/*=======================================================================================*/
/*=======================================================================================*/

/*------------------ Mobile CSS ---------------------*/

@media ( max-device-width: 1000px ) { /** Großer Viewport: Browserfenster **/

  /*------------------ Mobile Portrait CSS ---------------------*/
  @media (orientation: portrait){

  }

  /*------------------ Mobile Landscape CSS ---------------------*/
  @media (orientation: landscape) {

  }
}

/*=======================================================================================*/
/*=======================================================================================*/
/*=======================================================================================*/


.schmutz {
  background-color:#000;
  color:#fff;
  position: absolute;
  right: 50%;
  top: 50%;
  padding: 50px;
  margin: 10px;
}

