@import "values";

/*-------------------- search Page -------------------------*/

#search_icon:hover{
    background: rgba($lightgrey-R,$lightgrey-G,$lightgrey-B, 0.2);
    border-radius: calc((1vh + 1vw) / 2);
}

.search_bar_wrapper{
    margin: auto;
    width: fit-content;
    padding: 20px;
    border-radius: calc((1.5vh + 1.5vw)/2);
    display:flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(135deg, $gradient-lightblue 0%, $gradient-reallydarkblue 100%);
}

.search_bar{
    border-width: 0;
    background-color: #272727;
    color: $textcolor-darkmode;
    border-radius: calc((10vh + 10vw)/2);
    margin-left: 20px;
    padding: 10px;
    width: 25vw;
}


.search_result_grid_wrapper{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(135deg, $gradient-lightblue 0%, $gradient-reallydarkblue 100%);
    padding: 2vh;
    border-radius: 3vh;
}

.search_result_grid_child{
    border-radius: 1vh;
    margin: 1vh;
    color: $textcolor-darkmode;
    text-align: center;
    padding: 1vh;
    text-decoration: none;
}

.search_result_grid_child:hover{
    background: rgba($lightgrey-R,$lightgrey-G,$lightgrey-B, 0.2);
    border-radius: calc((1vh + 1vw) / 2);
}

.subsection{
    margin-top: 5vh;
}

@media ( max-device-width: 1000px ){



    /*------------------ Mobile Portrait CSS ---------------------*/
    @media (orientation: portrait){

    }

    /*------------------ Mobile Landscape CSS ---------------------*/
    @media (orientation: landscape) {

    }

    .search_bar_wrapper{
        margin-top: 13vh;
    }

    .search_bar{
        font-size: $mobile-font-size;

        width: 50vw;
        height: 3vh;
        padding: calc((2vh + 1vw)/2);
        margin: calc((1vh + 1vw)/2);
    }

    .search_result_grid_wrapper{
        display: flex;
        flex-flow: column;
        width: 80vw;
        margin: auto;

    }

    .search_result_grid_child{
        font-size: $mobile-font-size;
    }
}