
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.content-section {
    min-height: 100vh;
    width: 100%;
    background-color: #1c1c1c;
}


/* Image side to side */


.img_side_to_side:not(img,div,p,li,ul,a){
    width: 100%;
    background-position: center;
    background-color: #1c1c1c;
    background-size: cover;
    z-index: -1;
}

#test{
    width: 100%;
    mask-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
    background-position: center;
    background-color: #1c1c1c;
    background-size: cover;
    z-index: -1
}
/*---------------------- grid Test ------------------*/

.grid-container-nav{
    display: inline-grid;
    align-items: center;
}

.grid-item-nav{
    /*background: white;*/
    border-color: orange;
}
.item1{
    grid-column: 1;
}

.item2{
    grid-column: 2;
}

/* resizing the Page Logo */

.resize{
    width: 150px;
    height: auto;
}


/* nav beauty */
.nav-links{
    flex: 1;
    text-align: center;

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 50px;
    position: static;
}

.nav-links ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: x-large;
}



.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: coral;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    content: '';
    width: 100%;
    height: 4px;
    background: coral;
    display: block;
    margin: auto;
}



/* -------------------- gallery -------------------------- */
.grid_gallery
{
/*
    display: inline-grid;
    align-items: center;
    width: 100%
    */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery_item
{
    width: max(400px, 28%);
    height: auto;
    padding: 4vh;
    flex: 1;
    align-items: center;

}

/*------------------ Emergency Selection ---------------------*/
.em_selection_grid_wrapper{
    max-width: 100%;
  display: grid;
  grid-gap: 3vh;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-flow: dense;
}


.em_selection_grid_child{
    align-items: center;
    padding: 5vh;
    width: auto;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.3em;
    color: white;

    /*gradient*/

    background: #1C6EA4;
    background: -moz-linear-gradient(-45deg, #1C6EA4 0%, #144E75 100%);
    background: -webkit-linear-gradient(-45deg, #1C6EA4 0%, #144E75 100%);
    background: linear-gradient(135deg, #1C6EA4 0%, #144E75 100%);

}

.wrapper{
    display: grid;

}



/* -------------------- login -------------------------- */

.login_wrapper{

    display: grid;
    margin: auto;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;

    justify-items: center;

    grid-auto-flow: row;

    background: linear-gradient(135deg, #1C6EA4 0%, #072341 100%);

}

.login_element{
    border-width: 0;
    background-color: #272727;
    color: white;
}

.login_text_box{

    border-radius: 7px;

    width: 10rem;
    height: 2rem;
    padding: 10px;
    margin: 10px;
}

.login_select_box{
    border-radius: 20px;
    margin-left: 20px;
}

.login_submit_button{
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.login_text{
    color: white;
}


.login_icons{
    position: fixed;
    top: 0px;
    right: 0px;
    width: fit-content;
    justify-content: center;
    margin: 20px;

}

.login_icon_element{
    height: auto;
    margin: 10px;
}

.login_error_box{
    border-color: #ff4a4a;
    border-width: 2px;
}

.login_error_text{
    color: #ff4a4a;
    text-align: center;
}



/*-------------------- search Page -------------------------*/

.search_bar_wrapper{

    margin: auto;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    align-items: center;

    background: linear-gradient(135deg, #1C6EA4 0%, #072341 100%);
}

.search_bar{
    border-width: 0;
    background-color: #272727;
    color: white;
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px;
    width: 25vw;
}

.search_button{

}








/*---------------------------------------------*/

.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 0 21%;
  margin: 5px;
  height: 100px;
  background-color: blue;
}




.search_result_grid_wrapper{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(135deg, #1C6EA4 0%, #072341 100%);
    padding: 2vh;
    border-radius: 3vh;
}

.search_result_grid_child{
    border-color: red;
    border-width: thin;
    border-style: solid;
    border-radius: 1vh;
    margin: 1vh;
    color: white;
    text-align: center;
    padding: 1vh;
}



.subsection{
    margin-inline: auto;
    width: fit-content;
    margin-top: 10vh;
}

#section_for_result{

}









.alert{
     position: fixed;
     bottom: 0;
     right: 0;
     display: grid;
}

.alert_success{
    background-color: greenyellow;
    border-radius: 1vh;
    color: #272727;
    padding: 1vh;
}

.alert_failure{
    background-color: #ff4a4a;
    border-radius: 1vh;
    color: #272727;
    padding: 1vh;
}
















/*------------------------- hide alert after 5 sec ---------------------------------------*/

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}